@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

html {
    display: flex;
    background: rgb(99,0,35);
    background: linear-gradient(45deg, rgba(99,0,35,1) 0%, rgba(83,15,75,1) 30%, rgba(10,0,31,1) 70%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

#auth-page {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#concealer {
    position: absolute;
    top: 100vh;
    left: 100vw;
    width: 100vw;
    height: calc(100vh * 2);
    background: linear-gradient(-45deg, rgba(99,0,35,1), rgba(83,15,75,1));
    border-radius: 824px 0px 824px 0px;
    z-index: 2;
    transition: left 0.5s, top 0.5s
}

.form-divider {
    position: relative;
    min-width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in-panel {
    height: 430px;
}

#sign-up-panel {
    height: 560px;
}

#sign-in-panel,
#sign-up-panel {
    width: 520px;
    background-color: rgb(255, 255, 255, 0.4);
    border: 3px solid rgb(255, 255, 255, 0.4);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(0);
    transition: transform 0.5s ease;
}

.input-field,
#button-area,
.text-area {
    position: relative;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #161B2B;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.3s;
}

.input-field input {
    width: 400px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #161B2B;
    padding: 0 10px;
    background-color: #efefef;
    border: 3px solid transparent;
    outline: #efefef;
    border-radius: 5px;
    transition: 0.3s;
}

.input-field input:focus,
.input-field input:valid {
    border-color: #DE0447;
}

.input-field input:focus~label,
.input-field input:valid~label {
    top: 0;
    font-size: 12px;
    color: white;
    background-color: #DE0447;
    border-radius: 5px;
}

#auth-page button {
    width: 425px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #DE0447;
    border: none;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

#auth-page button:hover {
    transform: translateY(-2px);
}

#forgot-password {
    cursor: default;
}

#sign-in,
#sign-up {
    cursor: pointer;
}

#home-page {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.home-divider {
    position: relative;
    min-height: 100vh;
    display: flex;
}

#left-panel {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-right: 1px solid white;
}

#top-container {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#bottom-container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

#logo-icon {
    width: 210px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    cursor: default;
}

#logo-icon img {
    width: 20%;
    aspect-ratio: 3/2;
    object-fit: contain;
    padding-left: 13px;
}

#logo-icon p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 10px;
}

.button-container {
    width: 210px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.button-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 210px;
    background-color: transparent;
    border-radius: 30px;
    z-index: -1;
    transition: background-color 0.3s ease;
}

.button-container:hover::before {
    background-color: #451630;
}

.button-container img {
    width: 20%;
    aspect-ratio: 3/2;
    object-fit: contain;
    padding-left: 13px;
}

.button-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 10px;
}


#left-post-button {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #921B5B;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 25px;
    margin: 20px;
    transition: transform 0.5s ease;
    border: none;
    cursor: pointer;
}

#left-post-button:hover {
    color: #451630;
    background-color: white; 
    transform: translateY(-2px);
}

#switch-profile-button-container {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 25px;
    cursor: pointer;
}

#switch-profile-button-container p {
    padding-left: 15px;
}

#switch-profile-button-container::before {
    content: "";
    position: absolute;
    left: 10px;
    width: 230px;
    height: 70px;
    background-color: transparent;
    border-radius: 35px;
    z-index: -1;
    transition: background-color 0.3s ease;
}

#switch-profile-button-container:hover::before {
    background-color: #451630;
}

#user-pfp,
#user-pfp img {
    width: 50px;
    height: 50px;
}

#user-pfp img {
    border-radius: 25px;
}

#user-id {
    display: flex;
    position: relative; 
    flex-direction: column;
    color: white;
}

#three-dots {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

#three-dots img {
    width: 25px;
    height: 25px;
}

#account-settings-container {
    width: 230px;
    height: 50px;
    display: none;
    background-color: #451630;
    border-radius: 25px;
    position: absolute;
    overflow: visible;
    z-index: 1; 
    margin-left: 10px;
}

#account-settings-container::before {
    content: "";
    position: absolute;
    bottom: -6px; 
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #451630 transparent transparent;
}

#account-settings-container p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 55px;
}


#middle-panel {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid white;
}

#timeline-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-nav-container {
    width: 600px;
    height: 60px;
    border-bottom: 1px solid white;
    display: flex;
    position: sticky;
    top: 0;
}

.top-nav-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.top-nav-split {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.top-nav-split:hover {
    background-color: rgb(255, 255, 255, 0.4);
}

#top-nav-slider {
    height: 5px;
    width: 70px;
    border-radius: 2.5px;
    background-color: #921B5B;
    position: absolute;
    bottom: 0;
    left: 100px;
}

#settings-icon {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings-icon img {
    width: 20px;
    height: 20px;
}

#settings-background {
    width: 35px;
    height: 35px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 1px 0px 0px;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

#settings-background:hover {
    background-color: rgb(255, 255, 255, 0.4);
}

#create-post-container {
    width: 600px;
    min-height: 140px;
    display: flex;
    border-bottom: 1px solid white;
}

#create-post-left {
    display: flex;
    margin-right: 0px;
}

#create-post-left img {
    height: 40px;
    margin: 20px 0px 20px 20px;
}

#create-post-right {
    width: 550px;
    display: flex;
    flex-direction: column;
}

#create-post-buttons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#create-post-right textarea {
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
    margin: 25px 20px 0px 20px;
}

#create-post-right textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}

#middle-post-button {
    width: 80px;
    height: 40px;
    background-color: #921B5B; 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.5s ease;
    margin: 10px 20px 10px 0px;
}

#middle-post-button:hover {
    background-color: white; 
    color: #451630;
    transform: translateY(-2px);
}

.post-panel {
    width: 600px;
    min-height: 100px;
    display: flex;
    border-bottom: 1px solid white;
}

.post-panel-left {
    display: flex;
    margin-right: 0px;
}

.post-panel-left img {
    height: 40px;
    margin: 20px 0px 20px 20px;
}

.post-panel-right {
    width: 550px;
    display: flex;
    flex-direction: column;
    color: white;
}

.post-user-info {
    display: flex;
    justify-content: flex-start;
    margin: 25px 20px 0px;
}

.post-panel-buttons {
    width: 350px;
    height: 30px;
    margin: 10px 20px 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-panel-buttons img {
    width: 10%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

#user-info {
    color: white;
}

#profile-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#back-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#back-background img {
    width: 20px;
    height: 20px;
}

#back-background {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

#back-icon:hover #back-background{
    background-color: rgb(255, 255, 255, 0.4);
}

#banner-photo-container {
    display: flex;
    height: 200px;
    background-color: #333639;
}

#profile-info {
    display: flex;
    padding-left: 20px;
    margin-bottom: 5px;
}

.profile-info-split {
    width: 290px;
    display: flex;
    flex-direction: column;
}

#profile-photo,
#profile-photo img {
    width: 150px;
    height: 150px;
}

#profile-photo {
    margin-top: -75px;
    border-radius: 75px;
    border: 2px solid white;
}

#profile-name {
    margin: 15px 0px 10px 0px;
    color: white;
    align-items: center;
}

.profile-username {
    font-size: 20px;
}

#follow-count {
    color: white;
    display: flex;
    align-items: center;
}

#following-count {
    margin-right: 25px;
}

#following-count,
#follower-count {
    cursor: pointer;
}

#right-split {
    align-items: flex-end;
}

.right-split-button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #921B5B; 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: transform 0.5s ease;
    margin: 20px;
}

.right-split-button:hover {
    background-color: white; 
    color: #451630;
    transform: translateY(-2px);
}

#profile-page-tabs {
    width: 600px;
    height: 60px;
    border-bottom: 1px solid white;
    display: flex;
    position: relative;
}

#profile-page-tabs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.profile-tabs-split {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.profile-tabs-split:hover {
    background-color: rgb(255, 255, 255, 0.4);
}

#profile-tabs-slider {
    height: 5px;
    width: 70px;
    border-radius: 2.5px;
    background-color: #921B5B;
    position: absolute;
    bottom: 0;
    left: 115px;
}

.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 300;
}

#right-panel {
    width: 350px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#search-bar {
    width: 330px; 
    height: 50px;
    border-radius: 25px;
    background-color: #451630;
    margin: 10px; 
    display: flex;
    position: relative; 
    align-items: center; 
    padding: 0 15px;
    box-sizing: border-box;
}

#search-icon {
    position: absolute;
    left: 20px;
    width: 18px; 
    height: 18px; 
}

#search-input {
    width: 100%; 
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-left: 35px; 
}

#search-input::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#subscription-tab {
    width: 330px;
    height: 165px;
    background-color: #451630;
    border-radius: 20px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-bottom: 5px;
}

#subscription-tab h2,
#subscription-tab p {
    color: white;
}

#subscription-tab h2 {
    font-size: 20px;
}

#subscription-tab p {
    font-size: 14px;
}

#subscribe-button {
    width: 120px;
    height: 40px;
    background-color: #921B5B; 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.5s ease;
}

#subscribe-button:hover {
    background-color: white; 
    color: #451630;
    transform: translateY(-2px);
}

#trends-tab {
    margin: 10px;
    width: 330px;
    background-color: #451630;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    position: relative;
}

#trends-tab h2 {
    color: white;
    font-size: 20px;
}

#trends-tab small {
    color: gray;
    font-size: 12px;
}

#trends-tab p {
    color: white;
    font-size: 14px;
}

.trend-container {
    width: 290px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.three-dots {
    position: absolute;
    top: 0;
    right: 0;
}

.three-dots img {
    height: 12px;
}
