@media screen and (max-width: 1295px){
    #home-divider{
        min-width:0px;
        min-height:0px;
    }
    #logo-icon{
        justify-content: center;
    }
    #logo-icon p{
        display: none;
    }
    #top-container p{
        display: none
    }
    .button-container{
        justify-content: center;

    }
    #right-panel{
        min-height:0px;
        min-width:0px;
    }
    #theme-icon, #theme-style{
        translate:-8px;
    }
    
}

@media screen and (max-width: 1100px){
    #right-panel{
        display:none;
    }
}

@media screen and (max-width: 853px){
    #user-id, #three-dots{
        display:none;
    }
    #switch-profile-button-container{
        display: flex;
        justify-content: center;
    }
    .home-divider{
        min-width: 0px;
        min-height: 0px;
    }
    #left-post-button{
        width:100px;
    }
    .button-container, #logo-icon, #left-post-button, #mode-container{
        align-items: center;
        width: auto;
        margin-left:0%;
    }
}